@import "tailwindcss";

.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* Hide scrollbar for Chrome, Safari, and Edge */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }